<template>
    <div>
        <HomeHoliday v-if="daysOfWeek === 'Saturday' || daysOfWeek === 'Sunday'" />
        <HomeNotHoliday v-else />
    </div>
</template>

<script>
import HomeHoliday from "../components/HomeHoliday";
import HomeNotHoliday from "../components/HomeNotHoliday";


export default {
  name: "home",
  data() {
      daysOfWeek = ''
  },
  components: {
      HomeHoliday,
    HomeNotHoliday
    
  },
  methods: {
      //Function To Convert Day Integer to String
      daysToSrting() {
          let today= new Date()
const daysOfWeek = ['Sunday', 'Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  return daysOfWeek[today.getDay()]
      }
  },
  created() {
      this.daysOfWeek = this.daysToSrting();
  }
}
</script>

<style scoped>

</style>