<template>
  <div class="container">
    <h1 class="text-center m-3">Image List</h1>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="javascript::;" @click="PrevPage">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript::;">{{current_page}}</a></li>
        <li class="page-item"><a class="page-link" href="javascript::;" @click="NextPage">Next</a></li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-sm-12">
        <Photos
          v-bind:photos="photos"
          v-bind:userFaves="userFaves"
          v-on:add-fav="AddFav"
          :key="img_key"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Photos from "../components/Photos";

export default {
  name: "showImages",
  components: {
    Photos
  },
  data() {
    return {
      photos: [],
      userFaves: [],
      img_key: 1,

      url: "http://jsonplaceholder.typicode.com/photos?",
      pagination: [],
      start_page_old : 0,
      start_page : 0,
      per_page : 15,
      current_page: 1,
      prevNextFlag: '',
      old_page: 0
    };
  },
  methods: {
    AddFav(newFav, actiom_mode) {
      if (actiom_mode === "edit") {
        //edit
        axios
          .put("./api/showImages", newFav)
          .then(response => {
            console.log(response);
          })
          .then(() => {
            this.loadUserFavs();
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        //add
        axios
          .post("./api/showImages", newFav)
          .then(response => {
            console.log(response);
          })
          .then(() => {
            this.loadUserFavs();
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    /** get list of images that this user likes or dislikes */
    loadUserFavs() {
      axios
        .get("./api/userFavs")
        .then(res => (this.userFaves = res.data))
        .then(() => {
          this.img_key += 1;
        })
        .catch(err => console.log(err));
    },
    loadImgs(){
      let $this = this;
      let currentUrl = this.url + "_limit=" + this.per_page + "&_start=" + this.start_page;
      axios
        .get(currentUrl)
        .then(res => {
          this.photos = res.data
          if(this.photos.length === 0){
            this.start_page = this.start_page_old;
            this.current_page = this.old_page;
            this.loadImgs()
          }
          $this.pagination(res.data)
          this.img_key += 1
        })
        .catch(err => console.log(err));

    },
    PrevPage() {
      this.start_page_old = this.start_page
      this.start_page -= this.per_page;
      this.prevNextFlag = 'prev';
      this.old_page = this.current_page;
      if(this.current_page >1) this.current_page -= 1;
      this.loadImgs()
    },
    NextPage() {
      this.start_page_old = this.start_page
      this.start_page += this.per_page;
      this.prevNextFlag = 'next';
      this.old_page = this.current_page;
      this.current_page += 1;
      this.loadImgs()
    }
  },
  created() {
    /** get image data from JSONPlaceholder Image API */
    this.loadImgs();

    /** get the favorite/unfavourie photos of this user */
    this.loadUserFavs();
  }
};
</script>

<style scoped>
</style>