<template>
    <div class="container">
        <h1 class="text-center m-3">The latest favorite photos picked by all registered users</h1>
        <div class="row">
          <div class="col-sm-12">
            <LatestFavePhotosList v-bind:favPhotos="favPhotos" v-bind:photos="photos" :key="img_key" />
          </div>
        </div>
    </div>
</template>

<script>
import LatestFavePhotosList from "../components/LatestFavePhotosList";


export default {
    name: "home",
  components: {
    LatestFavePhotosList,
    
  },
  data() {
    return {
      photos: [],
      favPhotos: [],
      img_key: 1
    };
  },
  methods: {
    
    
    
  },
  created() {

    axios
      .get("http://jsonplaceholder.typicode.com/photos?_limit=15")
      .then(res => {
        this.photos = res.data;
        //console.log('holiday',this.photos)
        })
      .catch(err => console.log(err));

    axios
    .get('./api/home_latest_fav_photos')
    .then((response) => {
        this.favPhotos = response.data;
        //console.log('holiday',this.favPhotos)
    })
    .catch((error) => {
    console.log(error);
    });
  }
}
</script>

<style scoped>

</style>