<template>
    <div>
        <h1 class="text-center m-3">Users that have favorited the most</h1>
        <UserNameFavesList v-bind:userFavesList="userFavesList" :key="img_key" />
    </div>
</template>

<script>
import UserNameFavesList from "../components/UserNameFavesList";


export default {
    name: "home",
  components: {
    UserNameFavesList,
    
  },
  data() {
    return {
      photos: [],
      userFavesList: [],
      img_key: 1
    };
  },
  methods: {
    
    
    
  },
  created() {
    axios
    .get('./api/home_users_most_fav')
    .then((response) => {
        this.userFavesList = response.data;
        console.log(response.data )
    })
    .catch((error) => {
    console.log(error);
    });
  }
}
</script>

<style scoped>

</style>