<template>
  <div class="container">
    <div v-bind:key="photo.id" v-for="photo in photos">
      <div v-if="photo.id===favPhoto">
        <div class="card">
          <div class="card-header">{{ photo.title }}</div>
            <div class="card-body">
              <img v-bind:src=" photo.thumbnailUrl " />
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "fave-photo-item",
  props: ["photos", "favPhoto"],
  data() {
    return {};
  },
  methods: {},
  created() {
    //this.fetchFavePhotos()
    console.log("nnnn");
  }
};
</script>

<style scoped>
.btn-active {
  background-color: blue;
}
</style>