<template>
  <div>
    <div v-bind:key="favPhoto" v-for="favPhoto in favPhotos">
      <LatestFavePhotoItem v-bind:photos="photos" v-bind:favPhoto="favPhoto" />
    </div>
  </div>
</template>

<script>
import LatestFavePhotoItem from "../components/LatestFavePhotoItem";

export default {
  name: "fav-photos",
  props: ["photos", "favPhotos"],
  components: {
    LatestFavePhotoItem
  }
};
</script>

<style scoped>
</style>