<template>
  <div class="container">
    <div class="card">
      <div class="card-header">{{ photo.title }}</div>
      <div class="card-body">
        <img v-bind:src=" photo.thumbnailUrl " class="mr-5" />
        <button @click="FavImg" v-bind:class="[old_fav ? 'btn btn-success' : 'btn btn-secondary']">Favorite</button>
        <button @click="UnfavImg" v-bind:class="[old_unfav ? 'btn btn-success' : 'btn btn-secondary']">unfavorite</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "itemItem",
  props: ["photo", "userFaves"],
  data() {
    return {
      id: "",
      status: false,
      faved_before: false,
      old_fav: false,
      old_unfav: false
    };
  },
  methods: {
    FavImg() {
      this.status = true;
      this.AddFav();
    },
    UnfavImg() {
      this.status = false;
      this.AddFav();
    },
    AddFav() {
      const newFav = {
        fav_status: this.status,
        image_id: this.photo.id,
        id: this.id
      };
      //Send up to parent
      let actiom_mode = this.faved_before ? "edit" : "add";
      this.$emit("add-fav", newFav, actiom_mode);
    },
    isExist: function() {
      for (var i = 0; i < this.userFaves.length; i++) {
        if (this.userFaves[i].image_id == this.photo.id) {
          this.fav_status = this.userFaves[i].fav_status;
          this.id = this.userFaves[i].id;
          this.faved_before = true;
          return true;
        }
      }
      return false;
    },
    faveStatusCheck: function() {
      if (this.fav_status) {
        this.status = true;
        this.old_fav = true;
      } else {
        this.status = false;
        this.old_unfav = true;
      }
    }
  },
  created() {
    if (this.isExist()) {
      this.faveStatusCheck();
    }
  }
};
</script>

<style scoped>
</style>