<template>
  <div>
    <div v-bind:key="photo.id" v-for="photo in photos">
      <PhotoItem v-bind:photo="photo" v-bind:userFaves="userFaves" v-on:add-fav="AddFav" />
    </div>
  </div>
</template>

<script>
import PhotoItem from "../components/PhotoItem";

export default {
  name: "photos",
  props: ["photos", "userFaves"],
  data: {
    nextId: 5,
    currentPage: 0,
    pageSize: 3,
    visiblePhotos: []
  },
  components: {
    PhotoItem
  },
  methods: {
    AddFav(newFav, actiom_mode) {
      this.$emit("add-fav", newFav, actiom_mode);
    },
    updateVisiblePhotos() {
      this.visiblePhotos = this.photos.slice(
        this.currentPage * this.pageSize,
        this.currentPage * this.pageSize + this.pageSize
      );

      if (this.visiblePhotos.length == 0 && this.currentPage > 0) {
        this.updatePage(this.currentPage - 1);
      }
    },
    updatePage(pageNumber) {
      this.currentPage = pageNumber;
      this.updateVisiblePhotos();
    }
  },
  beforeMount() {
    this.updateVisiblePhotos();
  }
};
</script>

<style scoped>
</style>