<template>
  <div class="container">
    <div class="card"> 
      

      
      <div class="card-body">
        <div><label>{{ userFaveList.name }}</label> likes {{ userFaveList.favs }} photos</div>

        

        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "itemItem",
  props: ["userFaveList"],
  data() {
    return {
      id: '',
      status: false,
      faved_before: false,
      old_fav: false,
      old_unfav: false
    };
  },
  methods: {
    
  },
  created() {
    
  }
};
</script>

<style scoped>
label{font-weight: bold;color: #0D0D0D;}
</style>