<template>
  <div>
    <div v-bind:key="userFaveList.user_id" v-for="userFaveList in userFavesList">
      <UserNameFavesItem v-bind:userFaveList="userFaveList" />
    </div>
  </div>
</template>

<script>
import UserNameFavesItem from "../components/UserNameFavesItem";

export default {
  name: "userNameFavesList",
  props: ["userFavesList"],
  components: {
    UserNameFavesItem
  },
  methods: {
     
  },
  created() {
    //console.log('hh')
   //console.log(this.userFavesList)
  }
};
</script>

<style scoped>

</style>